@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", system-ui, sans-serif;
  --font-display: "Syne", system-ui, sans-serif;
}

body {
  background-color: #020204;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Invisible functional scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
